@import "./variables.scss";
@import "./header.scss";
@import "./hero.scss";
@import "./features.scss";
@import "./browsers-available.scss";
@import "./faq.scss";
@import "./up-to-date.scss";
@import "./footer.scss";

body {
    margin: 0;
    font-family: $font;
    font-size: 18px;
    text-align: center;
}

.with-padding {
    padding-left: 1.75rem;
    padding-right: 1.75rem;
}

.browsers-available, .faq {
    & h2 {
        color: $veryDarkBlue;
    }
    
    & p {
        color: $grayish;
    }
}

@media screen and (min-width: 1024px) {
    .with-padding {
        padding-left: 8rem;
        padding-right: 8rem;
    }
}
