.header {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.header .header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .header-container .container-mobile-nav .btn-menu {
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.header .header-container .container-mobile-nav .mobile-nav-fixed {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.18s ease-in-out;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(37, 43, 70, 0.9);
  padding: 2rem 1.5rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
}
.header .header-container .container-mobile-nav .mobile-nav-fixed.active {
  opacity: 1;
  pointer-events: auto;
}
.header .header-container .container-mobile-nav .mobile-nav-fixed .mobile-nav-container .header-mobile-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}
.header .header-container .container-mobile-nav .mobile-nav-fixed .mobile-nav-container .header-mobile-nav .close-mobile-nav i {
  vertical-align: middle;
}
.header .header-container .container-mobile-nav .mobile-nav-fixed .mobile-nav-container .header-mobile-nav .close-mobile-nav i img {
  width: 24px;
  height: 22.5px;
}
.header .header-container .container-mobile-nav .mobile-nav-fixed .mobile-nav-container .mobile-nav .mobile-nav-list {
  padding-left: 0;
}
.header .header-container .container-mobile-nav .mobile-nav-fixed .mobile-nav-container .mobile-nav .mobile-nav-list .mobile-nav-item {
  list-style: none;
  border-top: 1px solid #eeeeee4d;
}
.header .header-container .container-mobile-nav .mobile-nav-fixed .mobile-nav-container .mobile-nav .mobile-nav-list .mobile-nav-item:last-child {
  border-bottom: 1px solid #eeeeee4d;
}
.header .header-container .container-mobile-nav .mobile-nav-fixed .mobile-nav-container .mobile-nav .mobile-nav-list .mobile-nav-item a {
  display: inline-block;
  text-decoration: none;
  padding: 1.75rem 0;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
  width: 100%;
}
.header .header-container .container-mobile-nav .mobile-nav-fixed .mobile-nav-container .mobile-login .btn-mobile-login {
  letter-spacing: 2px;
  padding: 1rem 1.5rem;
  font-size: 1.75rem;
  background-color: transparent;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
  font-weight: 500;
  text-transform: uppercase;
}
.header .header-container .container-mobile-nav .mobile-nav-fixed .mobile-nav-social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 3rem;
  padding-bottom: 1.5rem;
}
.header .header-container .container-mobile-nav .mobile-nav-fixed .mobile-nav-social-media .header-facebook-link img {
  aspect-ratio: 1/1;
  width: 36px;
}
.header .header-container .container-mobile-nav .mobile-nav-fixed .mobile-nav-social-media .header-twitter-link img {
  width: 36px;
}
.header .header-container .desktop-nav-container {
  display: none;
}

@media screen and (min-width: 1024px) {
  .header .header-container .container-mobile-nav {
    display: none;
  }
  .header .header-container .desktop-nav-container {
    display: block;
  }
  .header .header-container .desktop-nav-container .desktop-nav {
    display: inline-block;
  }
  .header .header-container .desktop-nav-container .desktop-nav .desktop-nav-list {
    display: flex;
    gap: 0 2rem;
    list-style: none;
  }
  .header .header-container .desktop-nav-container .desktop-nav .desktop-nav-list .desktop-nav-item a {
    font-size: 1rem;
    text-decoration: none;
    text-transform: uppercase;
    color: #252b46;
  }
  .header .header-container .desktop-nav-container .desktop-nav .desktop-nav-list .desktop-nav-item a:hover {
    color: #fa5757;
  }
  .header .header-container button {
    margin-left: 2rem;
    padding: 1rem 2rem;
    border: none;
    font-size: 1rem;
    transition: transform 0.15s ease-in;
    cursor: pointer;
    font-weight: 500;
    border-radius: 8px;
    color: #fff;
    background-color: #fa5757;
    text-transform: uppercase;
    transition: background-color 0.15s ease-in;
    border: 1px solid #fa5757;
  }
  .header .header-container button:hover {
    color: #fa5757;
    background-color: transparent;
  }
}
.hero .hero-image img {
  width: 100%;
}
.hero .hero-content {
  text-align: center;
  padding-top: 1.75rem;
  padding-bottom: 1.75rem;
}
.hero .hero-content .hero-description h1 {
  font-size: 2rem;
  color: #252b46;
  text-transform: capitalize;
  letter-spacing: 2px;
}
.hero .hero-content .hero-description p {
  color: #9194a1;
}
.hero .hero-content .hero-action {
  display: flex;
  justify-content: center;
  gap: 0 2rem;
}
.hero .hero-content .hero-action .hero-action-chrome, .hero .hero-content .hero-action .hero-action-firefox {
  padding: 1rem;
  border: none;
  font-size: 1rem;
  transition: transform 0.15s ease-in;
  cursor: pointer;
  border-radius: 8px;
}
.hero .hero-content .hero-action .hero-action-chrome:hover, .hero .hero-content .hero-action .hero-action-firefox:hover {
  transform: scale(0.8);
}
.hero .hero-content .hero-action .hero-action-chrome {
  background-color: #5368df;
  color: #fff;
}
.hero .hero-content .hero-action .hero-action-firefox {
  background-color: #f7f7f7;
  color: #252b46;
  box-shadow: 0px 4px 14px 2px rgba(0, 0, 0, 0.13);
}

@media screen and (min-width: 1024px) {
  .hero {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }
  .hero .hero-image {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .hero .hero-content {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .hero .hero-content .hero-description {
    text-align: left;
  }
  .hero .hero-content .hero-action {
    justify-content: flex-start;
  }
}
.features {
  padding: 1.75rem;
  text-align: center;
}
.features .features-intro h2 {
  font-size: 2rem;
  color: #252b46;
  text-transform: capitalize;
  letter-spacing: 2px;
}
.features .features-intro p {
  color: #9194a1;
}
.features .features-nav-container .features-nav .features-nav-list {
  padding-left: 0;
}
.features .features-nav-container .features-nav .features-nav-list .features-nav-list-item {
  cursor: pointer;
  padding: 2rem;
  list-style: none;
  border-top: 2px solid #eee;
  color: #9194a1;
  font-size: 1.25rem;
  font-weight: 500;
}
.features .features-nav-container .features-nav .features-nav-list .features-nav-list-item.active {
  color: #252b46;
}
.features .features-nav-container .features-nav .features-nav-list .features-nav-list-item .features-item-title {
  position: relative;
}
.features .features-nav-container .features-nav .features-nav-list .features-nav-list-item .features-item-title::before {
  content: "";
  position: absolute;
  bottom: -32px;
  left: 5%;
  right: 5%;
  width: 90%;
  max-height: 5px;
  background-color: #fa5757;
  transition: padding 0.15s ease-in;
  padding: 0;
}
.features .features-nav-container .features-nav .features-nav-list .features-nav-list-item.active .features-item-title::before {
  padding: 2px 0;
  max-height: 5px;
}
.features .features-nav-container .features-nav .features-nav-list .features-nav-list-item:last-child {
  border-bottom: 2px solid #eee;
}
.features .features-nav-container .tabs {
  display: flex;
  overflow-x: hidden;
  white-space: nowrap;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}
.features .features-nav-container .tabs .tab {
  flex-shrink: 0;
  flex-grow: 0;
  width: calc(100vw - 3.5rem);
  box-sizing: border-box;
  scroll-snap-align: center;
}
.features .features-nav-container .tabs .tab .tab-image img {
  width: 100%;
}
.features .features-nav-container .tabs .tab .tab-content h3 {
  font-size: 1.75rem;
  color: #252b46;
  text-transform: capitalize;
  letter-spacing: 2px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.features .features-nav-container .tabs .tab .tab-content p {
  color: #9194a1;
  white-space: normal;
}

@media screen and (min-width: 1024px) {
  .features {
    padding: 8rem;
  }
  .features .features-intro p {
    width: 80%;
    margin: 0 auto;
  }
  .features .features-nav .features-nav-list {
    display: flex;
    justify-content: center;
  }
  .features .features-nav .features-nav-list .features-nav-list-item {
    border: none;
  }
  .features .features-nav .features-nav-list .features-nav-list-item:last-child {
    border-bottom: none !important;
  }
  .features .features-nav .features-nav-list .features-nav-list-item .features-item-title {
    font-size: 1rem;
  }
  .features .features-nav .features-nav-list .features-nav-list-item.active .features-item-title::before {
    width: 120%;
    left: -10%;
    right: unset;
  }
  .features .features-nav-container .tabs .tab {
    display: flex;
    width: calc(100vw - 16rem);
    align-items: center;
  }
  .features .features-nav-container .tabs .tab .tab-image {
    flex: 0.5;
  }
  .features .features-nav-container .tabs .tab .tab-content {
    flex: 0.5;
  }
}
.browsers-available .card-browsers {
  display: flex;
  flex-direction: column;
  gap: 2rem 0;
}
.browsers-available .card-browsers .card-browser {
  box-shadow: 0px 4px 14px 2px rgba(0, 0, 0, 0.13);
}
.browsers-available .card-browsers .card-browser .card-browser-header {
  padding: 2rem 1.25rem;
}
.browsers-available .card-browsers .card-browser .card-browser-header h3 {
  color: #252b46;
}
.browsers-available .card-browsers .card-browser .card-browser-header p {
  color: #9194a1;
}
.browsers-available .card-browsers .card-browser .card-browser-button {
  background-image: url(../images/bg-dots.svg);
  background-repeat: repeat-x;
  padding: 2rem 0;
}
.browsers-available .card-browsers .card-browser .card-browser-button button {
  cursor: pointer;
  width: 90%;
  text-transform: capitalize;
  padding: 1.5rem;
  font-size: 1rem;
  border: none;
  background-color: #5368df;
  border-radius: 0.5rem;
  color: #fff;
  font-weight: bold;
  letter-spacing: 1.2px;
}

@media screen and (min-width: 1024px) {
  .browsers-available {
    margin: 8rem 0;
  }
  .browsers-available .card-browsers {
    margin: 4rem 0;
    flex-direction: row;
    justify-content: space-around;
  }
  .browsers-available .card-browsers .card-browser:nth-child(2) {
    transform: translateY(40px);
  }
  .browsers-available .card-browsers .card-browser:nth-child(3) {
    transform: translateY(80px);
  }
}
.faq {
  margin: 2rem 0;
}
.faq .dropdowns {
  margin: 2rem 0;
}
.faq .dropdowns .dropdown .dropdown-title {
  text-align: left;
  list-style: none;
  padding: 1rem;
  border-bottom: 1px solid #9194a1;
  color: #252b46;
  position: relative;
}
.faq .dropdowns .dropdown .dropdown-title::before {
  content: "";
  position: absolute;
  background-image: url(../images/icon-arrow.svg);
  width: 18px;
  height: 12px;
  right: 0;
  top: 50%;
  transform: translateX(-50%) rotate(0deg);
}
.faq .dropdowns .dropdown[open] .dropdown-title::before {
  transform: translateX(-50%) rotate(180deg);
}
.faq .dropdowns .dropdown .dropdown-content {
  text-align: left;
}
.faq .btn-dropdown {
  cursor: pointer;
  text-transform: capitalize;
  padding: 1.5rem;
  font-size: 1rem;
  border: none;
  background-color: #5368df;
  border-radius: 0.5rem;
  color: #fff;
  font-weight: bold;
  letter-spacing: 1.2px;
}

.up-to-date {
  background-color: #5368df;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 2rem;
}
.up-to-date .up-to-date-title {
  color: #fff;
}
.up-to-date .up-to-date-title h2 {
  font-weight: 400;
}
.up-to-date .form {
  display: flex;
  flex-direction: column;
  gap: 20px 0;
}
.up-to-date .form .input-email {
  color: #252b46;
  padding: 0.75rem;
  font-size: 1rem;
  border: none;
  border-radius: 0.5rem;
}
.up-to-date .form .btn-form {
  padding: 0.75rem;
  background-color: #fa5757;
  color: #fff;
  border: none;
  border-radius: 0.25rem;
}

@media screen and (min-width: 1024px) {
  .up-to-date .form {
    flex-direction: row;
    gap: 0 20px;
  }
}
.footer {
  background-color: #252b46;
  padding: 3rem 0;
}
.footer .nav-and-logo .list-nav-footer {
  padding-left: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem 0;
}
.footer .nav-and-logo .list-nav-footer .list-item {
  list-style: none;
}
.footer .nav-and-logo .list-nav-footer .list-item a {
  text-decoration: none;
  color: #fff;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}
.footer .footer-social-media img + img {
  margin-left: 1rem;
}

@media screen and (min-width: 1024px) {
  .footer {
    padding: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .footer .nav-and-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0 40px;
  }
  .footer .nav-and-logo .list-nav-footer {
    display: inline-flex;
    flex-direction: row;
    gap: 0 20px;
    margin: 0;
  }
}
body {
  margin: 0;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  text-align: center;
}

.with-padding {
  padding-left: 1.75rem;
  padding-right: 1.75rem;
}

.browsers-available h2, .faq h2 {
  color: #252b46;
}
.browsers-available p, .faq p {
  color: #9194a1;
}

@media screen and (min-width: 1024px) {
  .with-padding {
    padding-left: 8rem;
    padding-right: 8rem;
  }
}

/*# sourceMappingURL=styles.css.map */
